footer {
    background-color: var(--primary-color);
    color: white;
    padding: 30px 0;
    font-family: var(--primary-font);
}
footer a {
    color: #ffff;
    display: block;
    margin: 15px 0px;
    font-weight: 300;
}

.footer-container {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    margin: 0 auto;
    padding: 20px;
    gap: 70px; 
}

.footer-left {
    width: 400px;
}
.footer-center {
    width: 350px;
}

.footer-logo img {
    width: 200px;
}

.footer-logo p:nth-child(2) {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
}

.footer-logo P:nth-child(3) {
    margin: 20px 0px;
    font-size: 18px;
    font-weight: 300;
}

.footer-center {
    display: flex;
    gap: 40px; 
}
.social-media {
    display: flex;
    flex-direction: column; /* Optional: Aligns items vertically */
}

.social-link {
    display: block;
    margin-bottom: 10px; /* Optional: Adds space between the links */
}


.footer-center h3 {
    font-weight: 400;
}

.footer-center ul {
    list-style: none;
    padding: 0;
}

.footer-center ul li {
    margin: 25px 0px;
}

.footer-center ul li a {
    color: white;
    text-decoration: none;
}

.footer-contact h3 {
    font-weight: 400;
    margin-bottom: 10px;
}

.footer-contact :nth-child(2) {
    margin-bottom: 20px;
    
}

.footer-contact :nth-last-child(1){
    padding-top: 15px;
}

.footer-contact input[type="email"] {
    padding: 15px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 250px;
}

.footer-contact button {
    padding: 15px;
    background-color: #fbbf24;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

.footer-bottom p {
    margin: 0;
}
