@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.intro_roll {
    display: flex;
    padding: 100px 40px;
    gap: 185px;
}

.parent img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.intro_roll_text {
    width: 800px;
}

.intro_roll_text h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 45px;
    line-height: 1.3;
    color: var(--primary-color);
}

.intro_roll_text p {
    
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    line-height: 1.4;
    margin-top: 30px;
    color: #000000;
}

.intro_roll_btn {
    padding-top: 60px;
    display: flex;
    gap: 20px;
    text-align: center;
}

.intro_roll_btn button:nth-child(1) {
    padding: 14px 55px;
    color: #ffff;
    background: var(--primary-color);
    border-radius: 45px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.intro_roll_btn button:nth-child(2) {
    color: #575555;
    background: none;
    border: none;
    font-size: 20px;
    padding-left: 40px;
    cursor: pointer;
}

.parent {
    position: relative;
    width: 350px;
    height: 350px;
}

.image1 {
    position: relative;
    width: 320px;
    top: 0;
    left: 0;
}

.image2 {
    position: absolute;
    height: 310px;
    width: 310px;
    border-radius: 50%;
    object-fit: cover;
    left: 30px;
}

.stat_figures {
    /* bottom: 0px; */
    background-image: url(../assets//hadrawnthinking-knowledge.png);
    height: 150px;
    color: #ffff;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.stat_figures_roll {
    padding-top: 65px;
    text-align: center;
    /* Center the text inside */
    display: flex;
}

.stat_text {
    background-color: #000;
    padding: 2px 92px;
    font-size: 27px;
}

.stat_fig {
    color: red;
    font-size: 35px;
}

.stat_fig_text span {
    color: #ffff;
    font-size: 2px;
}

/* SECTION TWO CSS */
.section_two {
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: var(--primary-font);
}

.section_intro_text {
    text-align: center;
}

.section_intro_text h1 {
    font-size: 55px;
    line-height: 1.3;
    color: var(--primary-color);
}

.section_intro_text span {
    color: var(--secondary-color);
    font-weight: 900;
}


.section_intro_text p {
    font-size: 25px;
    letter-spacing: 1px;
    padding-top: 15px;
    color: var(--paragragh-color);
}

.top_rated_quizzes {
    padding-top: 50px;
    gap: 20px;
}
.top_rated_quizzes_text {
    width: 250px;
    display: flex;
    align-items: center;
}
.top_rated_quizzes_text p:nth-child(1) {
    background-color: var(--secondary-color);
    width: 250px;
    padding: 10px 20px;
    color: #ffff;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 30px;
    border-radius: 10px;
}
.top_rated_quizzes_text p:nth-child(2) {
    color: var(--primary-color);
    padding-top: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-weight: 700;
}
.quiz_card {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid red;
    width: 200px;
    height: 300px;
    border-radius: 30px;
    cursor: pointer;
}
.quiz_card img {
    max-width: 100%;
    height: auto;
}


.top_rated_quizzes {
    display: flex;
    padding-top: 70px;
}
.see_more_quiz {
    padding-top: 50px;
    text-align: center;
    font-size: 30px;
    color: var(--paragragh-color);
    font-family: "Roboto", sans-serif;
}

.why_quizfy > div > p {
    padding-top: 150px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    color: var(--primary-color);
    font-weight: 600;
}   

.icon_bg {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    width: 70px;
    height: 70px;
    padding: 10px;
    color: #ffff;
    border-radius: 50%;
}

.why_quiz_container {
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.why_quizfy_roll {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: none !important;
}

.title {
    font-size: 30px;
    color: var(--primary-color);
    padding: 20px 0px;
}

.description {
    font-size: 15px;
    text-align: center;
}

/* IMAGE TEXT ROLL  */

.image_text_roll {
    padding: 100px 50px;
    display: grid;
    grid-template-columns: 555px 360px;
    font-family: var(--primary-font);
    gap: 40px;
}

.image_text_roll img {
    width: 430px;
    border-radius: 53% 57% 24% 23% / 41% 52% 71% 100% ;
}

.image_text_roll_text h1 {
    font-size: 50px;
    color: var(--primary-color);
    letter-spacing: 2px;
}

.image_text_roll_text p {
    padding-top: 20px;
    width: 555px;
    font-size: 30px;
}

.image_text_roll_btn button{
    padding: 10px 75px;
    background-color: var(--primary-color);
    margin-top: 40px;
    border: none;
    font-size: 20px;
    color: #ffff;
    border-radius: 40px;
} 


.image_text_left {
    padding: 100px 50px;
    display: grid;
    grid-template-columns: 700px 450px;
    font-family: var(--primary-font);
    gap: 40px;
}

.image_text_left img {
    width: 400px;
    border-radius: 53% 57% 24% 23% / 41% 52% 71% 100% ;
}

.image_text_left_roll h1 {
    font-size: 40px;
    color: var(--primary-color);
    width: 550px;
    letter-spacing: 2px;
}

.image_text_left_roll p {
    padding-top: 20px;
    width: 570px;
    font-size: 28px;
}

.image_text_left_btn button:nth-child(1){
    padding: 10px 75px;
    background-color: var(--primary-color);
    margin-top: 40px;
    border: none;
    font-size: 20px;
    color: #ffff;
    border-radius: 40px;
} 

.image_text_left_btn button:nth-child(2){
    padding: 10px 75px;
    background-color: transparent;
    margin-top: 40px;
    border: 1px solid var(--primary-color);
    font-size: 20px;
    color: var(--primary-color);
    border-radius: 40px;
} 

.image_text_left_btn {
    display: flex;
    gap: 30px;
}
