
.slider_container {
    width: 1000px;
    height: 400px;
    border: 3px dashed var(--primary-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-family: var(--primary-font);
    color: var(--primary-color);
    padding: 10px 30px;
}
.slick-next:before, [dir=rtl] .slick-prev:before {
    content: '→';
    background-color: var(--primary-color);
    padding: 10px;
    margin-left: 20px;
    border-radius: 20px;
    color: #ffff;
}
.slick-prev:before {
    /* line-height: 1; */
    opacity: .75;
    color: #fff;
    background-color: var(--primary-color);
    padding: 10px;
    margin-left: -50px;
    border-radius: 20px;
}